<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Categorias</title>
</head>
<body>
	<h2>Lista de Categorias</h2>
	
	<form action="/categoriacaminho" method="get">
		<div>
			<label>Buscar por Descrição:</label>
			<input type=text name="descricao" th:value="${descricao}">
		</div>
		<div>	
			<button type= "submit">Buscar</button>
		</div>	
	</form>	
	
	<a th:href="@{/categoriacaminho/novo}">
	   Nova Categoria </a>
	   	
	<table>
	<tr>
		<th>Descrição</th>
		<th>Ações</th>
	</tr>
	<tr th:each="c : ${categorias}">
		<td th:text="${c.descricao}"></td>
		<td>
		<a th:href="@{/categoriacaminho/edita/{id}(id=${c.id})}">
		Editar </a>
		</td> 
		<td>
		<a th:href="@{/categoriacaminho/excluir/{id}(id=${c.id})}">
		Excluir </a>
		</td> 		
	</tr>
	</table>
</body>
</html>